<strong>Recuperando senha</strong>

<h2>Ola {{ name }}</h2>

<p>
  Uma solicitação de recuperaçãod e senha foi realizada para o email
  {{ email }}
</p>

<p>
  Para continuar com a recuperação de senha, utilize o token
  <strong> {{ token }} </strong> ou clique no link abaixo
</p>
<p><a href="{{ link }}"> Criar nova senha </a></p>
